<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐶</text></svg>">
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script> {% endcomment %}
    <title>Wolf Creek Bulldogs</title>
</head>
<body>
    <div id="app">
        <div id="logo-container">
            {% comment %} <a href={% url 'index' %}><img id="logo" src="{% static '/images/logo.png' %}" alt="logo"></a> {% endcomment %}
            <a href={% url 'index' %}><img id="logo" src="{% static '/images/logo2.png' %}" alt="logo"></a>
            <a href={% url 'index' %}><h1 id="logo-text">Wol<span id="offset">f Creek Bull</span>dogs</h1></a>
        </div>
        <nav>   
            <div id="nav1">  
                <a href={% url 'sires' %}>Sires</a>
                <p>|</p>
                <a href={% url 'dams' %}>Dams</a>
                <p>|</p>
                <a href={% url 'nursery' %}>Nursery</a>
                <p>|</p>
                <a href={% url 'gallery' %}>Gallery</a>
            </div>   
            <div id="nav2">                  
                <a href={% url 'about_the_kennel' %}>About the Kennel</a>
                <p>|</p>
                <a href={% url 'contact_us' %}>Contact Us</a>
                <p>|</p>
                <a href={% url 'faq' %}>FAQ</a>
            </div>
        </nav>
        <div id="block">
            {% block content%}
            {% endblock %}
        </div>
    </div>
    <footer id="footer">
        <div id="footer-text">
            <p>Wolf Creek Bulldogs</p>
            <p>Henryetta, Oklahoma</p>          
        </div>
        <a href="#"><img src="{% static '/images/facebook-logo.png' %}" alt="Follow us on Facebook"></a>
    </footer>

<!-- Import Ajax -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- Import Vue.js -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<!-- Import file.js -->
<script src="{% static 'scripts/app.js' %}"></script> 

<!-- Mount App -->
<script> const mountApp = app.mount('#app') </script>

</body>
</html>            