{% extends 'base.html' %}
{% block content%} 
{% load static %} 
    <div id="contact-us-page-container">
        <div id="contact-us-text">
            <h1>Contact us</h1>
            <p>Have a question? We'd love to hear from you.<br>Please fill out the form with your inquiry.</p>
        </div>
        <form id="contact-us-form">
            <div id="contact-us-container">
                <div class="form-name">
                    <div class="form-first-name">
                        <label for="first-name">First Name*</label>
                        <input type="text" id="first-name">
                    </div>
                    <div class="form-last-name">
                        <label for="last-name">Last Name</label>
                        <input type="text" id="last-name">
                    </div>
                </div>
                <div class="form-email">
                    <label for="email">Email*</label>
                    <input type="email" id="email">
                </div>
                <div class="form-textbox">
                    {% if puppy != None %}
                        <label for="textbox">What can we help you with?*</label>
                        {% if puppy.show_name %}
                            <textarea id="textbox" rows="15" cols="50">Hi, I'm interested in purchasing {{puppy.name}}.</textarea>
                        {% else %}
                            <textarea id="textbox" rows="15" cols="50">Hi, I'm interested in the purchasing the puppy from /puppies/{{puppy.pk}}.</textarea>
                        {% endif %}
                    {% else %}
                        <label for="textbox">What can we help you with?*</label>
                        <textarea id="textbox" rows="15" cols="50"></textarea>                        
                    {% endif %}
                </div>
                <button type=Submit>Submit</button>
            </div>
        </form>
    </div>
{% endblock %}