{% extends 'base.html' %}
{% block content%} 
{% load static %} 
    <div class="heading"> 
        <h1>Gallery</h1>
    </div>
    <div class="image-carousel">
        {% if images|length > 4  %}
            <div @click="imageCarouselLeft()" class="div-click">
                <img src="{% static 'images/left-arrow.png' %}" alt="Left navigation arrow" class="left-arrow">
            </div>
        {% endif %}
            {% for image in images %}       
                <div class="image-carousel-image">
                    <img src="{{ image.image.url }}" alt="Miscellaneous">
                </div>
            {% endfor %}
        {% if images|length > 4 %}
            <div @click="imageCarouselRight()" class="div-click">
                <img src="{% static 'images/right-arrow.png' %}" alt="Right navigation arrow" class="right-arrow">
            </div>
        {% endif %}
    </div>
{% endblock %}