{% extends 'base.html' %}
{% block content%} 
{% load static %} 
    <div id="index-heading">
        <h1>Wolf Creek Bulldogs breeds quality English and French Bulldogs</h1>
        <h2>From the family pet to the award winning show dog.</h2>
    </div>
    <div class="card-container">
        <div @click="carouselLeft()" class="div-click">
            <img src="{% static 'images/left-arrow.png' %}" alt="Left navigation arrow" class="left-arrow">
        </div>
        {% for puppy in puppies_for_sale %}
            {% if puppy.main_image != None %}
                <a href='#'><div class="card">
                    <img src="{{ puppy.main_image.url }}" alt="Puppy for sale">
                    {% if puppy.show_name %}
                        <p>{{ puppy.name }}</p>
                    {% endif %}
                    <p>{{puppy.get_sex_display}}</p>
                    <p>{{puppy.get_breed_display}}</p>
                    <p>Born on {{puppy.litter.birthday}}
                    {% if puppy.description != None %}
                        <p>{{ puppy.description }}</p>
                    {% endif %}
                    {% if puppy.available_for_sale %}
                        <p>Available</p>
                    {% endif %}
                </div></a>
            {% endif %}
        {% endfor %}
        <div @click="carouselRight()" class="div-click">
            <img src="{% static 'images/right-arrow.png' %}" alt="Right navigation arrow" class="right-arrow">
        </div>
        </div>

    <div id="newsletter">
        <h3>STAY IN THE KNOW</h3>
        <p>Want to know about upcomming litters, show results, and news about the kennel?</p>
        <p>Sign up for our newsletter.</p>
        <form id="newsletter-input-button">
            <input type="text" placeholder="Enter your email">
            <button type="submit" @click=subscribeToNewsletter()>Subscribe</button>
        </form>
    </div>      
{% endblock %}