{% extends 'base.html' %}
{% block content%} 
{% load static %} 
    <div id="index-heading">
        <h1>Wolf Creek Bulldogs breeds quality English and French Bulldogs</h1>
        <h2>From the family pet to the award winning show dog.</h2>
    </div>
    <div class="card-container">
        {% if puppies_for_sale|length > 3%}
            <div @click="carouselLeft('general')" class="div-click">
                <img src="{% static 'images/left-arrow.png' %}" alt="Left navigation arrow" class="left-arrow">
            </div>
        {% endif %}
        {% for puppy in puppies_for_sale %}
            {% if puppy.main_image.url != None %}
                <div class="card"><a href="{% url 'available_puppy_detail' puppy.pk %}">
                    <img src="{{ puppy.main_image.url }}" alt="Puppy for sale">
                    {% if puppy.show_name %}
                        <p>{{ puppy.name }}</p>
                    {% endif %}
                    <p>{{puppy.get_sex_display}}</p>
                    <p>{{puppy.get_breed_display}}</p>
                    <p>Born on {{puppy.birthday}}</p>
                    {% if puppy.available_for_sale %}
                        <p>Available</p>
                    {% endif %}
                </a></div>
            {% endif %}
        {% endfor %}
        {% if puppies_for_sale|length > 3%}
            <div @click="carouselRight('general')" class="div-click">
                <img src="{% static 'images/right-arrow.png' %}" alt="Right navigation arrow" class="right-arrow">
            </div>
        {% endif %}
        </div>

    <div id="newsletter">
        <h3>STAY IN THE KNOW</h3>
        <p>Want to know about upcomming litters, show results, and news about the kennel?</p>
        <p>Sign up for our newsletter.</p>
        <form id="newsletter-input-button" action="{% url 'add_email_to_newsletter' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Enter your email" name="email">
            <button class="b-button" type="submit">Subscribe</button>
        </form>
    </div>      
{% endblock %}